# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:knowing-toucan-520 # team: ryanaarondc, project: appdev2-final-exam

EXPO_PUBLIC_CONVEX_URL=https://knowing-toucan-520.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://knowing-toucan-520.convex.site
